
<div class="max-w-screen-mobile md:max-w-screen-desktop mx-auto">
  <div class="md:flex md:flex-row mt-9 -mb-28 md:mb-9 md:justify-center">
    <div class="flex flex-col">
      <div class="font-bold text text-center pb-6 md:w-[378px] md:text-left">
        <h1 class="text-3xl">
          <span class="md:font-normal md:text-6xl">Never worry about your</span>
          <span class="md:font-extrabold md:text-6xl">wastewater permit limits</span>
          <span class="md:font-normal md:text-6xl">again.</span>
        </h1>
      </div>
    </div>
    <div class="flex flex-col content-center">
      <div class="px-4 max-w-xl">
        <picture class="relative">
          <source srcset="img/water-plant-cover-1194w.jpg" media="(min-width: 1194px)">
          <source srcset="img/water-plant-cover-720w.jpg" media="(min-width: 720px)">
          <source srcset="img/water-plant-cover-375w.jpg" media="(min-width: 375px)">
          <img data-src="img/water-plant-cover-375w.jpg"
            alt=""
            class="object-cover w-full rounded" />

          <button type="button"
            data-video="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            class="absolute inset-0 flex flex-col items-center justify-center bg-gray-900 rounded bg-opacity-40">
            {% include '_partials/_play_button.svg.twig' %}
          </button>
        </picture>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue-700">
  <div class="max-w-screen-mobile md:max-w-screen-md mx-auto pt-[140px] md:pt-7 pb-9 md:pb-5">
      <div class="text-white font-normal text-center mb-4">
        <h2 class="text-2xl">
          Empowering Clean Water® by enhancing the biological removal of harmful nutrients in wastewater.
        </h2>
      </div>
      <div class="text-center hidden md:block">
        <a href="/" class="w-auto
          rounded-full
          font-bold
          text-base
          outline
          outline-1
        text-white
          p-2">
          <img class="mr-1 inline-block items-center" src="data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 18.625 18 13l-7.5-5.625v11.25ZM13 .5C6.1.5.5 6.1.5 13S6.1 25.5 13 25.5 25.5 19.9 25.5 13 19.9.5 13 .5ZM13 23C7.487 23 3 18.512 3 13 3 7.487 7.487 3 13 3c5.512 0 10 4.487 10 10 0 5.512-4.488 10-10 10Z' fill='%23F8F8F8'/%3E%3C/svg%3E">
          See How it Works</a>
      </div>
  </div>
</div>
    <div class="pb-16 md:pb-20 bg-white">
      <div class="flex px-4 pt-6 items-start md:justify-center md:container md:px-4 md:mx-auto">
        <img class="min-w-[105px] min-h-[94px] md:mr-24 md:min-w-[214px]"
        src="data:image/svg+xml,%3Csvg width='105' height='94' viewBox='0 0 105 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96.25 0H8.75C3.91927 0 0 3.94727 0 8.8125V61.6875C0 66.5527 3.91927 70.5 8.75 70.5H43.75L39.375 88.125H26.25C24.6458 88.125 23.3333 89.4469 23.3333 91.0625C23.3333 92.6781 24.6458 94 26.25 94H78.75C80.3542 94 81.6667 92.6781 81.6667 91.0625C81.6667 89.4469 80.3542 88.125 78.75 88.125H65.625L61.25 70.5H96.25C101.081 70.5 105 66.5527 105 61.6875V8.8125C105 3.94727 101.081 0 96.25 0ZM45.3906 88.125L48.3073 76.375H56.6927L59.6094 88.125H45.3906ZM99.1667 61.6875C99.1667 63.3031 97.8542 64.625 96.25 64.625H8.75C7.14583 64.625 5.83333 63.3031 5.83333 61.6875V8.8125C5.83333 7.19688 7.14583 5.875 8.75 5.875H96.25C97.8542 5.875 99.1667 7.19688 99.1667 8.8125V61.6875Z' fill='%235FADE8'/%3E%3Cpath d='M79.9766 51.6848V55.2408C79.9766 55.7123 79.765 56.1645 79.3883 56.498C79.0116 56.8314 78.5007 57.0187 77.968 57.0187H19.7182C18.6527 57.0187 17.6309 56.6441 16.8775 55.9772C16.1242 55.3103 15.7009 54.4059 15.7009 53.4628V16.1256C15.7009 15.6541 15.9125 15.2018 16.2892 14.8684C16.6659 14.535 17.1768 14.3477 17.7095 14.3477H21.7268C22.2595 14.3477 22.7704 14.535 23.1471 14.8684C23.5238 15.2018 23.7354 15.6541 23.7354 16.1256V49.9069H77.968C78.5007 49.9069 79.0116 50.0942 79.3883 50.4276C79.765 50.7611 79.9766 51.2133 79.9766 51.6848Z' fill='%235FADE8'/%3E%3Cpath d='M91.4256 25.0823L84.7682 13.5737C83.8383 11.9663 81.5123 11.9663 80.5828 13.5737L73.925 25.0819C72.996 26.6878 74.158 28.6945 76.0179 28.6945H89.3327C91.1921 28.6945 92.3546 26.6878 91.4256 25.0823ZM82.6753 26.4319C82.4509 26.4319 82.2315 26.3655 82.0449 26.2412C81.8583 26.1169 81.7129 25.9402 81.627 25.7335C81.5412 25.5268 81.5187 25.2993 81.5625 25.0799C81.6062 24.8604 81.7143 24.6588 81.873 24.5006C82.0317 24.3424 82.2338 24.2347 82.4539 24.191C82.674 24.1474 82.9022 24.1698 83.1095 24.2554C83.3168 24.341 83.494 24.486 83.6187 24.6721C83.7434 24.8581 83.8099 25.0768 83.8099 25.3006C83.8099 25.6006 83.6904 25.8884 83.4776 26.1005C83.2648 26.3127 82.9762 26.4319 82.6753 26.4319ZM83.5773 22.5289C83.5632 22.6684 83.4977 22.7978 83.3934 22.8918C83.2891 22.9859 83.1535 23.038 83.0128 23.038H82.3382C82.1975 23.0381 82.0617 22.9861 81.9573 22.892C81.8529 22.7979 81.7873 22.6685 81.7733 22.5289L81.3199 18.0037C81.312 17.925 81.3206 17.8456 81.3454 17.7705C81.3702 17.6954 81.4104 17.6263 81.4636 17.5677C81.5168 17.509 81.5817 17.4622 81.6542 17.4301C81.7267 17.398 81.8051 17.3815 81.8844 17.3815H83.4667C83.546 17.3815 83.6244 17.398 83.6968 17.4301C83.7693 17.4622 83.8342 17.509 83.8874 17.5677C83.9406 17.6263 83.9809 17.6954 84.0056 17.7705C84.0304 17.8456 84.0391 17.925 84.0312 18.0037L83.5773 22.5289Z' fill='%23FF0000'/%3E%3Cpath d='M75.3201 14.682C75.0394 14.4776 74.6959 14.3477 74.3524 14.3477H69.5318C68.7283 14.3477 67.9249 15.0588 67.9249 15.77V41.3727C67.9249 42.0838 68.7283 42.795 69.5318 42.795H74.3524C75.1559 42.795 75.9593 42.0838 75.9593 41.3727V32.6938C71.0722 32.6518 67.9909 27.3511 70.4624 23.0785L75.3201 14.682Z' fill='%235FADE8'/%3E%3Cpath d='M45.4284 17.9036H50.249C51.0525 17.9036 51.8559 18.6148 51.8559 19.3259V41.3727C51.8559 42.0838 51.0525 42.795 50.249 42.795H45.4284C44.6249 42.795 43.8215 42.0838 43.8215 41.3727V19.3259C43.8215 18.6148 44.6249 17.9036 45.4284 17.9036Z' fill='%235FADE8'/%3E%3Cpath d='M33.3767 32.1273H38.1973C39.0008 32.1273 39.8042 32.8384 39.8042 33.5496V41.3727C39.8042 42.0838 39.0008 42.795 38.1973 42.795H33.3767C32.5732 42.795 31.7698 42.0838 31.7698 41.3727V33.5496C31.7698 32.8384 32.5732 32.1273 33.3767 32.1273Z' fill='%235FADE8'/%3E%3Cpath d='M57.4801 25.0154H62.3007C63.1042 25.0154 63.9076 25.7266 63.9076 26.4378V41.3727C63.9076 42.0838 63.1042 42.795 62.3007 42.795H57.4801C56.6766 42.795 55.8732 42.0838 55.8732 41.3727V26.4378C55.8732 25.7266 56.6766 25.0154 57.4801 25.0154Z' fill='%235FADE8'/%3E%3C/svg%3E%0A" alt="" srcset="">
        <div>
          <p class="font-normal text-lg text-gray-900 ml-3 md:text-[44px] md:leading-[48px] md:ml-0">
            Are you having
            <span class="font-bold">issues</span>
            with your wastewater treatment process?
          </p>

          <div class="flex flex-col items-center divide-y divide-gray-300 md:flex-row md:divide-none md:items-start">
            {% for li in [
              { span: 'Inconsistent', value: ' nutrient removal levels.' },
              { span: 'Inaccurate', value: ' suplemental carbon dosing.' },
              { span: 'Inadequate', value: ' delivery and product quality.' }
            ] %}
              <p class="font-normal text-gray-700 text-lg py-4 text-center md:text-left md:text-[22px]">
                <span class="font-bold">{{ li.span }}</span>
                {{ li.value }}
              </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center text-center">
      <a href="/" class="w-56 md:w-64
        absolute
        -mt-6
        rounded-full
        font-bold
        text-base
        bg-blue-700
        text-white
        text-blue
        p-2
        py-[13px]">
        Let`s fix it.</a>
    </div>
  </div>
<div class="max-w-screen-mobile md:max-w-screen-desktop mx-auto pb-6">
  <div class="md:flex md:flex-row md:mt-28">
    <div class="md:flex md:flex-col">
      <div class="font-bold text-center pt-16 pb-6 md:max-w-2xl md:text-left">
        <h1 class="text-3xl">
          <span class="md:font-extrabold">
            Take better control
          </span>
          <span class="md:font-normal">
            of your biological and contaminant removal process.
          </span>
        </h1>
      </div>

        {% for li in [
          { h2: 'Achieve Compliance', paragraph: 'Leverage our experience in ever-changing permit requirements and regulations.' },
          { h2: 'Minimize Operational Risk', paragraph: 'Reduce your risk with consistent on-time delivery and premium product quality.' },
          { h2: 'Optimize Removal Costs', paragraph: 'Take the guesswork out of dosing and cut cost-per-pound of nutrients removed.' }
        ] %}
        <div class="flex flex-row mt-12 md:max-w-xl">
        <img class="w-12 h-12" src="data:image/svg+xml,%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 .75C11.16.75.75 11.327.75 24.375S11.16 48 24 48s23.25-10.577 23.25-23.625S36.84.75 24 .75Zm0 44.202c-11.125 0-20.25-9.15-20.25-20.577C3.75 13.071 12.755 3.798 24 3.798c11.125 0 20.25 9.15 20.25 20.577 0 11.304-9.005 20.577-20.25 20.577Zm13.278-26.194-16.92 17.055a1.112 1.112 0 0 1-1.591-.006l-8.051-8.247a1.156 1.156 0 0 1 .006-1.617l.799-.805a1.112 1.112 0 0 1 1.59.006l6.467 6.624 15.323-15.445a1.112 1.112 0 0 1 1.59.007l.793.812a1.156 1.156 0 0 1-.006 1.616Z' fill='%2326874B'/%3E%3C/svg%3E" alt="check-list" height="48" width="48">
        <div class="ml-6">
          <div>
            <h2 class="font-bold text-gray-900 text-2xl mb-2">
              {{ li.h2 }}
            </h2>
            <p class="font-normal text-gray-700 text-lg">
              {{ li.paragraph }}
            </p>
          </div>
        </div>
      </div>
        {% endfor %}
      </div>

    <div class="flex flex-col md:max-w-lg md:relative">
    <div class="w-full px-4 my-14 mx-auto">
      <span class="absolute left-15 md:left-5 -mt-11">
        <img src="data:image/svg+xml,%3Csvg width='90' height='90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0Z' fill='%23C1CFDE'/%3E%3C/svg%3E" alt="" srcset="">
      </span>

      <div class="bg-white relative rounded-lg p-8 sm:p-12 shadow-lg z-10">
        <div>
          <h2 class="font-bold text-2xl text-center text-gray-900 mx-2 mb-2">We can help.</h2>
          <p class="font-normal text-lg text-gray-700 text-center">Learn how you can optimize your removal process reliably and cost-effectively.</p>
        </div>
        <div class="mt-4">
          <form>
             <div class="mb-6">
               <label for="name" class="font-semibold text-lg">Name</label>
                <input
                   type="text"
                   placeholder="Your Name"
                   class="
                   w-full
                   rounded-md
                   py-3
                   px-[14px]
                   text-body-color text-base
                   border border-[#c1cfde]
                   outline-none
                   focus-visible:shadow-none
                   focus:border-primary
                   "
                   />
             </div>
             <div class="mb-6">
               <label for="email" class="font-semibold text-lg">Email</label>
                <input
                   type="email"
                   placeholder="Your Email"
                   class="
                   w-full
                   rounded-md
                   py-3
                   px-[14px]
                   text-body-color text-base
                   border border-[#c1cfde]
                   outline-none
                   focus-visible:shadow-none
                   focus:border-primary"
                   />
             </div>
             <div class="mb-6">
               <label for="phone" class="font-semibold text-lg">Phone</label>
                <input
                   type="text"
                   placeholder="Your Phone"
                   class="
                   w-full
                   rounded-md
                   py-3
                   px-[14px]
                   text-body-color text-base
                   border border-[#c1cfde]
                   outline-none
                   focus-visible:shadow-none
                   focus:border-primary"
                   />
             </div>
             <div class="mb-6">
               <label for="organization" class="font-semibold text-lg">Organization</label>
                <input
                   type="text"
                   placeholder="Your Organization"
                   class="
                   w-full
                   rounded-md
                   py-3
                   px-[14px]
                   text-body-color text-base
                   border border-[#c1cfde]
                   outline-none
                   focus-visible:shadow-none
                   focus:border-primary"
                   />
             </div>

             <div>
                <button
                   type="submit"
                   class="
                   w-full
                   text-white
                   bg-secondary
                   rounded-full
                   font-bold
                   text-md
                   py-[22px]"
                   >
                   Send me more information
                </button>
             </div>
          </form>
        </div>
        </div>

        <span class="absolute right-11 md:right-5 -mt-10">
          <img src="data:image/svg+xml,%3Csvg width='90' height='90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM0 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM17 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM34 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM51 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 53.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM68 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 87.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 70.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 36.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 19.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM85 2.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0Z' fill='%23C1CFDE'/%3E%3C/svg%3E" alt="" srcset="">
        </span>
      </div>
  </div>
  </div>
</div>
