{#

List component

Usage:

{% include '_blocks/_list.twig' with {
  content: [
    {text: '<strong>Inconsistent</strong> nutrient removal levels.'},
    {text: '<strong>Inaccurate</strong> supplemental carbon dosing.'},
    {text: '<strong>Inadequate</strong> delivery and product quality.'}
  ]
} %}
#}

{% if content is defined and content %}
  <div class="max-w-[225px] middle:max-w-[257px] desktop:max-w-none desktop:top-1/2 desktop:left-[304px] desktop:absolute">
    <ul class='mt-[34px] desktop:flex desktop:flex-wrap desktop:gap-[30px]'>
      {% for c in content %}
        <li class='desktop:w-[276px]'>
          <p class='text-[18px] font-normal leading-[22px] text-gray-900 text-center desktop:text-left middle:text-[22px] middle:leading-[26px]'>{{ c.text|raw }}</p>
          <div class='h-[2px] bg-gray-300 my-[18px] {{ c == content|last ? "hidden" : "" }} desktop:hidden'></div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}