<svg 
  viewBox="0 0 83 83"
  class="w-[55px] h-[55px] md:w-[83px] md:h-[83px]"
  ill="none"xmlns="http://www.w3.org/2000/svg">
  <title>Play Video</title>
  <path d="M33 60.0625 57.75 41.5 33 22.9375v37.125ZM41.25.25C18.48.25 0 18.73 0 41.5s18.48 41.25 41.25 41.25S82.5 64.27 82.5 41.5 64.02.25 41.25.25Zm0 74.25c-18.1912 0-33-14.8088-33-33 0-18.1912 14.8088-33 33-33 18.1913 0 33 14.8088 33 33 0 18.1912-14.8087 33-33 33Z" fill="#F8F8F8"/>
</svg>