<section>
  <div class="px-4 bg-white py-9">
    <div class="flex flex-col gap-8 pb-10 mx-auto max-w-screen-desktop">
      <div class="grid items-center grid-flow-row gap-4 md:grid-col-2 md:grid-flow-col-dense md:items-start md:gap-x-8">
        <div class="md:row-span-2">
          {% include '_partials/_computer_monitor.svg.twig' %}
        </div>
        <div class="max-w-[224px] md:max-w-none">
          <p class="text-lg md:text-[44px] md:leading-[48px] md:max-w-[726px]">
            Are you having <strong>issues</strong> with your wastewater treatment
            process?
          </p>
        </div>
        <div class="col-span-2 md:columns-auto">
          <ul class="flex flex-col divide-y max-w-[225px] mx-auto text-center divide-gray-300 text-gray-700 text-lg md:flex-row md:divide-y-0 md:max-w-[888px] md:text-left md:gap-4 md:mx-0 md:justify-between">
            {% for li in [
              '<strong>Inconsistent</strong> nutrient removal levels.',
              '<strong>Inaccurate</strong> supplemental carbon dosing.',
              '<strong>Inadequate</strong> delivery and product quality.'
            ] %}
              <li class="px-1 py-5 md:px-0 md:flex-1 md:max-w-[276px] md:text-[22px]">
                {{ li|raw }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
