<header id="site-header">
  <div class="flex justify-center p-4 bg-gray-100 md:justify-start">
    <div class="md:container md:px-4 md:mx-auto">
      {% include '_partials/_logo.svg.twig' %}
      <span class="sr-only">EOSI Empowering Clean Water</span>
    </div>
  </div>
</header>
