<footer id="site-footer" class='max-w-desktop mx-auto p-[15px] mt-[-38px] desktop:p-0'>
  {% include "_partials/_button.twig" with {
    content: 'Let’s fix it.',
    variant: 'primary',
    adjust: true
  } %}
  
  <section class=' desktop:flex desktop:gap-[30px] mt-10 desktop:mt-[162px] mb-[64px] desktop:mb-[111px]'>
    <div class='middle:max-w-[525px] middle:mx-auto desktop:max-w-[684px] desktop:mx-0'>
      <h2 class='font-bold text-3xl text-center leading-10
        desktop:font-normal desktop:text-[44px] desktop:leading-[48px] desktop:text-left'>
        <strong class='font-bold'>Take better control</strong> of your biological and contaminant removal process.
      </h2>
      {% include "_partials/_checkList.twig" with {
        content: checkList
      } %}
    </div>
  
    <div class='relative middle:w-[525px] middle:mx-auto'>
      <div class='w-[92px] h-[92px] dot-grid relative mt-[13px] 
        desktop:mt-0 desktop:left-[-44px] desktop:top-[-36px]'>
      </div>
      
      <div class='bg-white rounded-lg p-[30px] shadow-form mt-[-45px] 
        relative z-10 middle:mx-auto desktop:mt-[-80px]'>
        <div class='mb-[45px]'>
          <h2 class='font-bold text-2xl leading-9 mb-[9px] text-center
            desktop:font-extrabold desktop:text-[32px] desktop:leading-[42px]'>
              We can help.
          </h2>

          <p class='font-normal text-lg leading-[22px] text-gray-700 text-center
          desktop:text-[22px] desktop:leading-[36px]'>Learn how you can optimize your removal process reliably and cost-effectively.</p>
        </div>

        <form action="" class='flex flex-col gap-7'>
          {% for field in formfiels %}
            {% include '_fieldTypes/_' ~ field.type ~ '.twig' ignore missing with {
              field: field
            } only %}
          {% endfor %}

          {% include '_partials/_button.twig' with {
            content: 'Send me more information',
            variant: 'secondary'
          } %}
        </form>
      </div>

      <div class='w-[92px] h-[92px] dot-grid absolute pb-[18px] right-0 to-pink-100 mt-[-45px] z-0 desktop:right-[-45px]'>
      </div>
    </div>
  </section>
</footer>
