<header id="site-header" class='max-w-desktop mx-auto px-[15px] pt-[15px] desktop:px-0'>
  <a href='/'>
    {% include '_partials/_logo.svg.twig' %}
  </a>

  {% include "_partials/_videoBox.twig" with {
    heading: "Never worry about your <strong class='font-bold middle:font-extrabold'>wastewater permit limits</strong> again.",
    videoUrl: 'https://www.youtube.com/watch?v=Oddo4MVeeBY&ab_channel=LynyrdSkynyrd-Topic'
  } %}
</header>
