<header id="site-header">
  <div class="mx-4 mt-4 md:max-w-screen-desktop md:mx-auto">
    <a href="/">
      <div class="size-logo icon-logo--bg"></div>
      <span class="sr-only">
        EOSI Empowering Clean Water®
      </span>
    </a>
  </div>
</header>
