<section>
  <div class="flex flex-col items-center px-4 bg-gray-100">
    <h2 class="inline-flex items-center justify-center py-4 mx-auto text-2xl font-bold leading-9 text-white bg-blue-700 rounded-full -mt-[34px] px-14 mb-10">
      Let’s fix it.
    </h2>
    <div class="flex flex-col gap-12">
      <div>
        <p class="text-3xl font-bold leading-10 text-center">
          <strong class="font-bold">Take better control</strong> of your biological
          and contaminant removal process.
        </p>
      </div>
      <div>
        <ul class="flex flex-col gap-12">
          {% for li in [
            {
              title: 'Achieve Compliance',
              contents: 'Leverage our experience in ever-changing permit requirements and regulations.'
            },
            {
              title: 'Minimize Operational Risk',
              contents: 'Reduce your risk with consistent on-time delivery and premium product quality.'
            },
            {
              title: 'Optimize Removal Costs',
              contents: 'Take the guesswork out of dosing and cut cost-per-pound of nutrients removed.'
            }
          ] %}
            <li class="flex flex-row gap-6">
              <div class="li-check"></div>
              <div class="flex flex-col gap-2">
                <p class="text-2xl font-bold leading-9">
                  {{ li.title }}
                </p>
                <p class="text-lg leading-6 text-gray-700">
                  {{ li.contents }}
                </p>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="relative my-16 before:dots-pattern before:content-[''] before:absolute before:w-24 before:h-24 before:-top-12 before:z-0 after:dots-pattern after:content-[''] after:absolute after:w-24 after:h-24 after:-bottom-12 after:z-0 after:right-0">
      <div class="relative z-50 flex flex-col gap-2 bg-white rounded-lg p-7">
        {% include '_partials/_form.twig' %}
      </div>
    </div>
  </div>
</section>
