{% extends '_layouts/_generic_page_layout.twig' %}

{% block headLinks %}
  {{ parent() }}
  <link rel="amphtml" href="/amp" />
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
{% endblock %}

{% block content %}
  <section>
    {% include "_partials/_landingPage.twig" %}

  </section>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
  {{ parent() }}
{% endblock %}
