{% extends '_layouts/_generic_page_layout.twig' %}

{% block headLinks %}
  {{ parent() }}
  <link rel='amphtml' href='/amp' />
{% endblock %}

{% block content %}
  <section class='bg-blue-700 mt-[-140px] desktop:mt-0 py-[30px]'>
    <div class='max-w-[706px] mx-auto px-[15px] desktop:px-0'>
      <h2 class='text-2xl font-normal leading-8
      text-center text-white pt-[140px] pb-[25px] desktop:p-0 desktop:text-[28px] 
      desktop:leading-[36px] desktop:mb-[14px]'>
      Empowering Clean Water® by enhancing the biological removal of harmful 
      nutrients in wastewater.
      </h2>
        {% include '_partials/_button.twig' with {
          content: 'See How it Works ',
          variant: 'video',
          adjust: true
        } %} 
    </div>
  </section>

  <section class='bg-white pt-[34px] pb-[104px] desktop:pt-[76px] desktop:pb-[130px]'>
    <div class='max-w-desktop mx-auto'>
      <div class='flex px-[15px] flex-wrap middle:flex-col desktop:flex-row justify-center items-center gap-x-[16px]
        desktop:relative desktop:px-0 desktop:justify-start desktop:items-start desktop:gap-[92px]
      '>
        {% include '_partials/_computer.icon.twig' %}

        <div class='w-[224px] middle:w-[445px] middle:pt-[30px] desktop:w-[726px] desktop:pt-0'>
          <h2 class='text-[18px] leading-[22px] font-normal middle:text-[44px] 
            middle:leading-[48px] middle:text-center desktop:font-normal
            desktop:gap-x-[92px] desktop:max-w-[736px] desktop:text-left'>
            Are you having <strong class='font-extrabold'>issues</strong> with your wastewater treatment process?
          </h2>
        </div>

        {% include '_partials/_list.twig' with {
          content: [
            {text: '<strong>Inconsistent</strong> nutrient removal levels.'},
            {text: '<strong>Inaccurate</strong> supplemental carbon dosing.'},
            {text: '<strong>Inadequate</strong> delivery and product quality.'}
          ]
        } %}
      </div>
    </div>
  </section>
{% endblock %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
  {{ parent() }}
{% endblock %}
